/* DaFont import arcade alternate */
@font-face {
    font-family: "arcade-alternate";
    src:url(fonts/arcade-alternate/arcade-alternate.ttf);
}

header {
    background-color: #86C8BC;
    margin: 0px;
    padding: 15px;
}

h1 {
    color: #FFFFFF;
    font-family: "Press Start 2P";
}

h2 {
    color: #86C8BC;
    font-family: "Press Start 2P";
}

/* .label {
    font-size:30px;
    color:#86C8BC;
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "arcade-alternate", sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    color: #86C8BC;
    font-size: 15px;
    
}

p, 
a, 
li {
    line-height: 1.5em;
    font-size: 1.1em;
    text-align: center;
}

.item a, 
.item a:link, 
.item a:visited, 
.item a:hover, 
.item a:link,
button {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: solid 3px #86C8BC;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: #fcba03;
    transition: all .3s ease-out;
}
.item a:hover,
.item a:focus {
   background-color: #86C8BC;
   color: white;
}