/* DaFont import arcade alternate */
@font-face {
    font-family: "arcade-alternate";
    src:url(fonts/arcade-alternate/arcade-alternate.ttf);
}

header {
    background-color: #86C8BC;
    margin: 0px;
    padding: 15px;
}

h1 {
    color: #FFFFFF;
    font-family: "Press Start 2P";
}

h2 {
    color: #86C8BC;
    font-family: "Press Start 2P";
}

h3 {
    font-size:15pt;
    color:#61a79a;
}

main {
    display: flex;
    background-image: url('anime-pink-sakura-flowers-12a59ha24rhr5qyr.gif');
}

body {
    margin: 0px;
    font-family: "arcade-alternate", sans-serif;
    background-color: slategray;
    text-align: center;
    color: #86C8BC;
    font-size: 15px;
}

p, 
a, 
li {
    line-height: 1.5em;
    font-size: 1.1em;
    text-align: center;
}

#container {
    width: 25vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
    border: dashed rgb(97, 167, 154) 1px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0, 0.3);
    background-color: #eee;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item a, 
.item a:link, 
.item a:visited, 
.item a:hover, 
.item a:link,
button {
    text-decoration: none;
    width: 15rem;
    padding: 10px;
    margin: 5px;
    border: solid 3px #86C8BC;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: #fcba03;
    transition: all .3s ease-out;
}
.item a:hover,
.item a:focus {
   background-color: #86C8BC;
   color: white;
}