body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*
Part 2: Put the main element (the card's parent container)
into flex mode (display: flex) and adjust the 
justify-content and align-items properties to center the card.
*/
main {
    min-height: 100vh;
}

/*
Part 1: Create some style blocks to style the card. 
    Experiment with: border, padding, margin, height, and width.
*/

.card {
    width: 25%;
    border: double #CCC 5px;
    transition: all .5s ease-in;
}

.card img {
    width: 100%;
}

.card button {
    margin: 15px;
}

.card h2 {
    margin: 15px;
}

.card p {
    margin: 15px
}

main {
    background-color: lemonchiffon;
    min-height: 100vh;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    column-gap: 20px;
}

/* phone */
@media screen and (max-width: 450px) {
    .card {
        width: 90%;
        border: double #CCC 5px;
    }
}

/* tablet */
@media screen and (max-width: 1000px) {
    .card {
        width: 60%;
        border: double #CCC 5px;
    }
}