@font-face {
    font-family: "against";
    src: url(against_2/against\ regular.ttf);
}

@font-face {
   font-family: coolvetica;
   src: url(coolvetica/coolvetica\ rg.otf)
}

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header */

header {
    background-color: #9DD9D2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    flex-direction: column;;
    align-items:center;
}

.short-text {
    display: none;
}

nav {
    width: 100%;
    padding: .5em;
    
}

nav ul {
    display: flex;
    justify-content: end;
    gap:2em;
    float: right;
    margin-right: 2em;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: against;
}

#profile-pic {
    border-radius: 50%;
}

h1, 
h2,
h3 {
    font-family: against;
    color: black;
}

div h1 {
    display: flex;
    margin: 0px;
    justify-content: center; 
    padding: 1em;
    text-align: center;
    
}

/* about */

#about {
    margin: 5vw 15vw 5vw 15vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#about p {
    width: auto;
}

/* projects */

p {
    font-family: coolvetica;
    width: 300px;
    font-size: 15pt;
}

#projects {
    display: grid;
    justify-content: space-evenly;
    margin: 5vw 15vw 5vw 15vw;
    background-color: #eee;
    padding: 5vw;
}

#projects h2 {
    padding-bottom: .5em;
    font-size: 20pt;
}

.project-holder {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    gap: 8vw;
}

.card1 {
    grid-row: 0 / 1;
    grid-column: 0 / 1;
}

.card2 {
    grid-row: 0 / 1;
    grid-column: 2 / 3;
}

.card3 {
    grid-row: 2 / 2;
    grid-column: 0 / 1;
}

.card4 {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
}

/* contact */

#contact {
    display: grid;
    /* justify-content: center; */
    margin: 5vw 15vw 5vw 15vw;
    grid-template-columns: 70% 30%;
}

#contact-header {
    justify-content: center;
}


#contact-header p {
    width: 100%;
}

#contact .contact-details {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#name {
    width: 42%;
    margin-right: 2.3%;
    margin-bottom: 1%;
}

#email {
    width: 55%;
}

#message {
 width: 100%;
}

#contact .contact-info {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* contact info */

.contact-info { 
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/* 
.contact-info {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, 1fr);
} */

/* .info-row1 {
    grid-row: 1 / 2;
    display: flex;
}

.info-row2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.info-row2 {
    grid-row: 3 / 4;
} */

/* .contact-info p {
    margin: 0;
}

.fa-house-chimney {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.address {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.fa-mobile-screen {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.fa-envelope {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.email {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
} */

input,
textarea {
    padding: 10px;
    background-color: #eee;
    color: darkslategray;
    border: none;
}

.row {
    padding-bottom: .4em;
    padding-right: 2em;
}

#submit {
    background-color: #9DD9D2;
    font-weight: bold;
}

footer {
    display: flex;
    background-color: #eee;
    justify-content: center;
    padding: 2vw;
}

@media screen and (max-width: 800px) {

    header {
        width: 100vw;
    }

    nav ul {
        justify-content: center;
        gap: 3em;
        width: 100%;
    }

    /* When resolution <= 800px, hide full text and show short text */
    .short-text { display: inline-block; }
    .full-text { display: none; }

    #about {
        margin: 5vw;
    }

    #projects {
        margin: 0 auto;
        background-color: #eee;
        padding: 1vw;
    }
    
    .project-holder {
        display: flex;
        flex-direction: column;
    }

    section img {
        width: 90vw;
    }

    section p {
        width: 90vw;
    }

    #contact {
        display: flex;
        flex-direction: column;
        margin: 5vw;
    }

    /* .contact-details {
        display: flex;
        flex-direction: column;
    } */

}